body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

#container {
  width: 550px;
  margin: 140px 600px;
  border-radius: 6px;
  background-color: #fff;
}
form {
  margin: auto;
  width: 450px;
  height: 810px;
  border-radius: 12px;
}
.form_group {
  display: flex;
  margin-bottom: 12px;
  padding-left: 0px;
}
h4 {
    margin-bottom: 12px;
    padding-top: 24px;
    color: #7ED321;
    font-weight: bold;
}
.input_container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding: 5px;
  background-color: #F9F9F9;
}

.input_container i {
  font-size: 16px;
  color: gray;
  margin-right: 5px;
  padding-left: 10px;
}

.input_container input[type="text"],
.input_container input[type="email"],
.input_container input[type="password"] {
  border: none;
  padding: 5px 28px;
  height: 30px;
  width: 100%;
  outline: none;
  background-color: #F9F9F9;
}

.input_container i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background-color: #bebcbc;
}

.form_group .date {
    width: 45%;
    display: flex;
}

#day,#month,#year {
    width: 20%;
    height: 40px;
    padding-left: 12px;
    margin-right: 12px;
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 4px;

}

#day::placeholder,
#month::placeholder,
#year::placeholder {
  color: #c2bdbd;
}

.form_group .gender {
    width: 55%;
    display: flex;
    margin-left: 0px;
}

#male,#female {
    width: 45%;
    height: 45px; 
    margin-right: 0.5px;  
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 3px;
    color: #c2bdbd;
}

#male:hover,
#female:hover {
    background-color: gray;
} 

#credit_card,
#paypal {
    width: 100%;
    height: 45px; 
    margin-right: 0.5px;  
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 3px;
    color: #c2bdbd;
}
#credit_card {
    background-color: #7ED321;
    color: #fff;
}

#datepicker,.yearpicker {
    width: 45%;
    height: 45px; 
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 4px;
}

#terms::placeholder,
#month::placeholder,
#year::placeholder {
  color: #c2bdbd;
}

input[type="checkbox"] {
    margin-bottom: 20px;
    margin-right: 12px;
}

span {
  color: red;
  font-weight: bold;
}

#submitForm{
  margin-top: 0px;
  margin-left: 135px;
  width: 40%;
  background-color: #c2bdbd;
  border: none;
  color: #fff;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}